.overlay {
	position: absolute;
	height: 32px;
	left: 2px;
	right: 2px;
	bottom: 8px;
	background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: auto; /* Ensure the overlay captures click events */
	z-index: 1000; /* Ensure the overlay is above other elements */
}

.spinner {
	border: 3px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	border-top: 3px solid #3498db;
	width: 20px;
	height: 20px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
